:root {
  --background-color: #130E2F;
  --highlight-color: #00FFC2;
  --text-color: #FFFFFF;
  --doc-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--doc-font);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  font-size: 16px;
}

/* Form styling */

.form-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 100px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#userinput {
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
  border: none;
  font-size: 7vw;
}

#userinput:focus {
  outline: none;
}

.form-line {
  position: relative;
}

.form-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: 200ms ease-in;
}

.form-line:hover::after {
  transform: scaleX(0.75);
}

.submit {
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;
  color: var(--highlight-color);
  border: none;
  padding: 0.1em;
  font-size: 2.5vw;
  align-self: flex-end;
  position: relative;
}


/* Cool Hover! */
.submit::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: 200ms ease-in;
}

.submit:hover::after {
  transform: scaleX(0.75);
}

/* Header */
.header {
  position: absolute;
  writing-mode: vertical-lr;
  height: 100vh;
  text-align: center;
  margin-left: -7px;
  font-size: 2.7rem;
  opacity: 0.1;
}

/* Results */
.results {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.results-summonerName {
  font-size: 3rem;
}

.results-winrate {
  font-size: 5rem;
}

.results-fineprint {
  font-size: 1.2rem;
}

/* Back button */
.back-button {
  position: absolute;
  background-color: transparent;
  font-size: 3rem;
  color: var(--highlight-color);
  border: none;
  margin: 10px;
  cursor: pointer;
}

/* Cool Hover! */
.back-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: 200ms ease-in;
}

.back-button:hover::after {
  transform: scaleX(0.75);
}

